body {
	padding:0;
	margin:0;
	background: #f0f0f0;
   	overflow: scroll;
}

#participant-number{
	display: inline-block;
	text-align: right;
}

.quote{
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 6px 0px #000;
	box-shadow: 0px 0px 6px 0px #000;
	width:400px;
	margin: 10px auto;
	position: relative;
}
.header{
	width:100%;
	height:95px;
	background-color:#002255;
}

.header > span {
	font-family: "Verdana";
	color: whitesmoke;
	font-size: 25px;
	letter-spacing: 5px;
	margin-left: 10px;
	line-height: 75px;
}

.header > span > b {
	color: #EE8800;
}

.author {
	float:left;
	display: block;
	height: 22px;
	margin-left:10px;
}

.topic {
	float: right;
	display: block;
	height: 22px;
	margin-right:10px;
}

.quote-content {
	text-align: justify;
	padding: 7px;
}